DATABASE_URL=postgresql+asyncpg://postgres:REPLACE_ME@cloud-sql-proxy:5432/StudHub
JWT_SECRET_KEY=REPLACE_ME
JWT_ALGORITHM=HS256
GEMINI_API_KEY=REPLACE_ME
GCS_BUCKET=arctic-sentry-467317-s7-studenthub-data
